@{ ViewData["Title"] = "Home Page"; } 
<div class="text-center"> 
	<h1 class="Home-Title">Welcome to "Reel" Reviews!</h1> 
	<h3 class="Home-Subtitle">Movie and Actor Reviews by 'Real' People</h3> 
	<img src="Holly.jpg" alt="Image" class="center-image">
	<p class="Home-Text">Welcome to "Reel" Reviews! This is your one stop shop to read real reviews from real people concerning your favorite actors, actresses, and movies! To add, edit, and delete actors and movies from our site, click the "Edit" tab. To explore what people are saying about your favorite actors and movies, click either the "Actor Reviews" or the "Movie Reviews" pages! Happy reviewing!</p>
	</div>
